.container{
    border-style: outset;
    border-width: 5px;
    border-color: grey;
    text-align: center;
    background-color: rgb(10,13,12);
    color: gray;
}

#body {
    background: url("../images/s-l300.jpg");
}

#eye {
    width: 250px;
}

#main-container {
    padding: 10px
}